'scopeName': 'text.vsitemplate'
'name': 'VSI Template'
'fileTypes': [
  'templ'
  'partial'
]
'patterns': [
  {
    'begin': '(\\{\\{)([\\?\\!/~#])(\\.*)([-\\w\\.]*)(@?)'
    'beginCaptures':
      '1':
        'name': 'variable.parameter.function.block.vsitemplate'
      '2':
        'name': 'keyword.control.block.vsitemplate'
      '3':
        'name': 'entity.name.type.instance.block.vsitemplate'
      '4':
        'name': 'entity.name.function.block.vsitemplate'
      '5':
        'name': 'constant.character.escape.block.vsitemplate'
    'end': '(\\}\\})'
    'endCaptures':
      '1':
        'name': 'variable.parameter.function.block.vsitemplate'
    'name': 'block.vsitemplate'
    'patterns': [
      {
        'include': '#tagStuff'
      }
    ]
  }
  {
    'begin': '(\\{\\{)(\\*?)(\\.*)([-\\w\\.]*)(@?)'
    'beginCaptures':
      '1':
        'name': 'variable.parameter.function.vsitemplate'
      '2':
        'name': 'keyword.operator.vsitemplate'
      '3':
        'name': 'entity.name.type.instance.vsitemplate'
      '4':
        'name': 'punctuation.definition.string.vsitemplate'
      '5':
        'name': 'constant.character.escape.vsitemplate'
    'end': '(\\}\\})'
    'endCaptures':
      '1':
        'name': 'variable.parameter.function.vsitemplate'
    'name': 'meta.tag.vsitemplate'
    'patterns': [
      {
        'include': '#tagStuff'
      }
    ]
  }
]
'repository':
  'tagStuff':
    'patterns': [
      {
        'match': '(?:\\s*?)(?:([-\\w\\.]+))?([-\\w\\.]+)='
        'captures':
          '1':
            'name': 'entity.other.attribute-name.namespace.vsitemplate'
          '2':
            'name': 'entity.other.attribute-name.vsitemplate'
      }
      {
        'include': '#doublequotedString'
      }
      {
        'include': '#singlequotedString'
      }
    ]
  'doublequotedString':
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.vsitemplate'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.vsitemplate'
    'name': 'string.quoted.double.vsitemplate'
  'singlequotedString':
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.vsitemplate'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.vsitemplate'
    'name': 'string.quoted.single.vsitemplate'
