'scopeName': 'text.vsitemplate'
'name': 'VSI Template'
'fileTypes': [
  'templ'
  'partial'
]
'patterns': [
  {
    'begin': '({{)([-\\.\\*\\w]+)'
    'captures':
      '1':
        'name': 'punctuation.definition.tag.vsitemplate'
      '2':
        'name': 'entity.name.tag.vsitemplate'
    'end': '(}})'
    'name': 'meta.tag.preprocessor.vsitemplate'
    'patterns': [
      {
        'match': ' ([-\\.\\w]+)'
        'name': 'entity.other.attribute-name.vsitemplate'
      }
    ]
  }
  {
    'begin': '({{)([\\!\\?#~])((?:[-\\.\\w]+)?)}}(?=([\\s\\S]*)?{{/\\3)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.vsitemplate'
      '2':
        'name': 'keyword.other.entitytype.vsitemplate'
      '3':
        'name': 'entity.name.tag.vsitemplate'
      '4':
        'name': 'content.vsitemplate'
    'end': '(}})'
    'name': 'meta.tag.vsitemplate'
  }
]
